@import "../Styles/_Variables.scss";

.add-product-container {
  width: 100%;

  .product-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    padding: 0.625rem 0.3125rem;

    .product-form-dynamic-message {
      width: min(100%, 768px);
      font-size: 1rem;
      font-weight: 600;
      color: hsl(0, 0%, 52%);
    }

    .product-form-error-message {
      text-align: center;
      align-self: center;
      font-size: 1rem;
      font-weight: 600;
      color: $dark-red;
      min-height: 18.4px;
    }
  }
}
