.container {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-break: break-all;
  @media screen and (min-width: 320px) {
    padding: 0 1.25rem;
    word-wrap: break-word;
  }
}
