.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.0625rem solid black;
  padding-bottom: 0.8375rem;

  @media screen and (min-width: 420px) {
    flex-direction: row;
    padding: 0 0.3125rem;
  }

  .navbar-title {
    font-size: 1.875rem;
    text-align: center;
  }

  .navbar-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
    max-width: 100%;
    @media screen and (min-width: 210px) {
      flex-direction: row;
    }
  }
}
