.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.0625rem solid black;
  padding: 0 0.3125rem;

  @media screen and (max-width: 420px) {
    flex-direction: column;
    padding-bottom: 0.8375rem;
  }

  .navbar-title {
    font-size: 1.875rem;
    text-align: center;
  }

  .navbar-buttons {
    display: flex;
    height: fit-content;
    gap: 0.3125rem;
  }
}
